# export functions
## helper.R:
export('load_lengths', 'gff_to_lengths', 'load_fasta', 'write_fasta',
       'load_offsets', 'read_fasta_as_codons', 'get_codons', 'get_bias_seq',
       'convert_to_aa', 'parse_coefs', 'parse_coefs.negbin', 'match_rows')
## prep_data.R:
export('load_bam', "init_data", 'count_d5_d3', 'count_footprints',
       'calculate_codon_density', 'calculate_transcript_density'
       'compute_rpf_gc')
## correct_bias.R:
export('correct_bias', 'correct_gc')
## evaluate_bias.R:
export('evaluate_bias')
## make_plots.R:
export('plot_diagnostic', 'plot_bias', 'plot_coefs')
## choros.R:
export('choros')
# import packages
importFrom('parallel', 'makeCluster', 'stopCluster')
importFrom('doParallel', "registerDoParallel")
import('foreach')
importFrom('reshape', 'expand.grid.df')
importFrom('Rsamtools', 'BamFile', 'ScanBamParam', 'scanBam')
import('ggplot2')
importFrom('MASS', 'glm.nb')
importFrom('Biostrings', 'DNAStringSet', 'readDNAStringSet',
           'writeXStringSet', 'translate')
import('patchwork')
import('RColorBrewer')
importFrom('glmnet', 'coef.glmnet')
