# export functions
## helper.R:
export('load_lengths', 'load_gff', 'load_fa', 'load_offsets',
       'read_fa_codons', 'get_codons', 'get_bias_seq', 'convert_to_aa',
       'calculate_codon_density', 'calculate_transcript_density',
       'plot_diagnostic', 'parse_coefs')
## prep_data.R:
export('load_bam', "init_data", 'count_d5_d3', 'count_footprints')
## correct_bias.R:
export('correct_bias')
## evaluate_bias.R:
export('evaluate_bias', 'plot_bias')
## choros.R:
export('choros')
# import packages
importFrom('parallel', 'makeCluster', 'stopCluster')
importFrom('doParallel', "registerDoParallel")
import('foreach')
importFrom('reshape', 'expand.grid.df')
importFrom('prodlim', 'row.match')
importFrom('Rsamtools', 'BamFile', 'ScanBamParam', 'scanBam')
import('ggplot2')
importFrom('MASS', 'glm.nb')
importFrom('Biostrings', 'DNAStringSet', 'readDNAStringSet',
           'writeXStringSet', 'translate')
import('patchwork')
import('RColorBrewer')
